.UserLogin{
    background-color: #B4DCFE;
    font-family: 'Varela Round', sans-serif;
    min-height: 100vh;
    height: 100%;
}

body{
    overflow-x: hidden;
}

.LightBg{
    background-color: #E8F1FE;
}

.navbar{
    margin: 0 12px;
}

.questionIcon{
    margin-right: 10px;
}

.TitleContainer.TextContainer p{
    width: 100%;
}

.TextContainer{
    margin-top: 8%;
    padding-bottom: 48px;
    width: 50%;
}

.FormContainer{
    text-align: center;
    margin-top: 48px;
}

.LoginForm{
    width: 50%;
    margin: 12px auto 0 auto;
}

.TextLabel{
    margin: 0;
    text-align: left;
}

.LoginForm input[type="text"], .LoginForm input[type="password"]{
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 8px auto 12px auto;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-family: 'Varela Round', sans-serif;
}

.PrefBtns{
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
}

.ForgotPass{
    color: #D46FA0;
    text-decoration: none;
    cursor: pointer;
}

.CheckWrapper{
    display: flex;
    align-items: center;
}

#rmbMe{
    margin-right: 8px;
}

.SubmitBtn{
    background-color: #006BAA;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-weight: bolds;
    margin-bottom: 8px;
}

.RegisterText{
    color: #707070;
    text-align: center;
    margin: 12px 0 0 0;
    padding-bottom: 12px;
}

.RegisterText a{
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.RegisterText a:hover{
    color: #4c4c4c;
}


/* BREAKPOINTS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .LoginForm{width:90%;}
    .DoctorImg{Width:100%;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}